{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td>
                        <div class="row no-gutters">
                            <div class="col-sm-2">
                                <img src="{{ trailer.image }}" alt="" class="img-thumbnail">
                            </div>
                            <div class="col-sm-10">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/trailers/{{ trailer.id }}">{{ trailer.title }}</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
